<!-- <%- include ../partials/header %> <%- include ../partials/categories-navbar %> -->

<nav class="navbar navbar-expand-md navbar-custom navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-auto order-0" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li <% if (pageName === "All Products") { %>
        class="nav-item active"
        <%} else {%>
          class="nav-item"
        <%} %> 
      >
        <a class="nav-link" href="/products/">All</a>
      </li>

      <% if (categories) { %>
        <% categories.forEach( category => { %>
          <li <% if (pageName === category.title) { %>
            class="nav-item active"
            <% } else { %>
              class="nav-item"
            <% } %> 
          >
          <a class="nav-link" href="/products/<%= category.slug %>"><%= category.title %></a>
        </li>
          <% }) %>
      <% } %>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">
      <h1 class="mt-4 mb-4">Sign Up Page</h1>
      <% if(errorMsg != null && errorMsg.length>0) {%>
      <div id="flash-msg" class="alert alert-danger">
        <%=errorMsg %>
      </div>
      <%}%>
      <form action="/user/signup" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            class="form-control"
            name="name"
            id="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>
        <div class="form-group">
          <label for="password2">Verify Password</label>
          <input
            type="password"
            class="form-control"
            name="password2"
            id="password2"
          />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="btn btn-primary button-style">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
